.sub-para{
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
}
.nav-list{
font-weight: 600;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
}
.h-text{
font-weight: 600;
font-size: 27px;
line-height: 32px;
letter-spacing: 0%;
}
.sub-h-text{
font-weight: 600;
font-size: 20px;
line-height: 26px;
letter-spacing: 0%;
color: var(--forest);
}
.h-title{
font-weight: 600;
font-size: 40px;
line-height: 46px;
letter-spacing: 0%;
color: var(--black);
}