.sub-para{
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
}
.nav-list{
font-weight: 600;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
text-decoration: none;
}
.h-text{
font-weight: 600;
font-size: 27px;
line-height: 32px;
letter-spacing: 0%;

}